.content-wrapper{

}
.filter
{
background-color:#f3f3f3;
font-size:16px;
margin:13px 0px 0px 15px;
border-radius: 1.3rem;
height: 2rem;
}
.navbar-brand{
  padding-left:10px;
}
.custom-select{
  border: 0px;
  font-size:14px;
  background-color: #dadfe300;
  margin-top: 10px;
}
.filter-input{
  font-size: 14px;
  height: 40px;
}
option{
  background-color: #ffffff00;
}
.ng-pristine{
  margin-top:10px;
}
.showing{
  border:0rem;
  font-size: 14px;

}

.check-box{
  margin: 10px 0px 0px 15px;
}
.filter-field{
  background-color: #dadfe300;
  border:0rem;
}
.login-screen {
  border:0rem;
  background-color: #dadfe300;
}
.row-top
{
  border-bottom:1px solid #dadfe3;
}

.checkbox-top
{
  border: 1px solid #dadfe3;
  padding: 30px 0px 30px 15px;
  margin-top: 15px;
}

.image-logo{
  width: 1.2rem;
  height: 1.2rem;
}

.icon-code
{
  width:1.2rem;
  height:1.2rem;
}
.nav-bug
{
  height: 1.6rem;
  height: 1.6rem;

}

.bug-status{
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50px;
  background-color: #40a1ff;
  padding-left: 0px;
  margin-left: 22px;
  margin-right: 5px;
  padding-right: 0px;
  padding-top: 0px;
  margin-top: 5px;

}

.bg-bug{
  display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 1.6rem;
    padding: 0.4rem 1.2rem;
    width: 222px;
    height: 30px;
}
.filter-date{
  font-size: 14px;
}
