
<section class="content-wrapper">
  <app-filters [ngClass]=""> </app-filters>

    <div class="top-wrapper">
      <div class="row row-top">
        <div class="col-md-8">
          <div class="row">
              <div class="col-md-1 filter">
                <img _ngcontent-wkd-c81="" src="../../../assets/images/filter.svg">
                <a class="navbar-brand" href="#">Filter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="col-md-4">
                <input class="form-control filter-field ng-pristine ng-valid ng-touched" type="search" autocomplete="off" placeholder="Search bug by title or email..." aria-label="Search" >
              </div>
              <div class="col-md-7"></div>
            </div>
        </div>

        <div class="col-md-4">
          <form class="form-inline">
            <div class="row">
              <div class="col-md-5 d-flex flex-row">
                <div><label class="filter-date">Filter by date:</label></div>
                <div></div><input class="form-control filter-input" type="text" placeholder="Start date - End Date" aria-label="text">
              </div>
              <div class="col-md-4 ">
                <div class="input-group mb-3">
                  <select class="custom-select " id="inputGroupSelect02">
                    <option selected >Sort By: Date Created</option>
                    <option value="1">Date Created</option>
                    <option value="2">Severity</option>
                    <option value="3">Ascending</option>
                    <option value="3">Descending</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group mb-3">
                  <select class="custom-select " id="inputGroupSelect02">
                    <option selected>Layout: List</option>
                    <option value="1">List</option>
                    <option value="2">Table</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
        <!-- content area -->
    <div class="content-area">
        <div class="row row-content">
          <div class="col-md-12 check-box">
            <label  for="agreement" class="zero-space clickable">
              <input id="agreement" name="agreement" type="checkbox" class="checkbox clickable ng-valid ng-dirty ng-touched">
              <span class="checkmark"></span>
            </label>
            <button class="showing">Showing 1 Bugs</button>
          </div>

          <div class="col-md-12 ">
            <div class="checkbox-top">
                  <div class="row">
                    <div class="col-md-9">
                      <label  for="agreement" class="zero-space clickable">
                        <input id="agreement" name="agreement" type="checkbox" class="checkbox clickable ng-valid ng-dirty ng-touched">
                        <span class="checkmark"></span>
                      </label>
                      <button class="login-screen">
                        <h6>Not able login. It shows login screen again and again</h6>
                        <p>smatifhussain@gmail.com <span>14 Jun 2022 02:22 PM</span></p>
                      </button>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                          <div class="col-md-12 d-flex flex-row">
                            <div class="">
                              <svg class="image-logo">
                                <use role="" href="../../../../assets/images/Icon_Logo_Black_8.svg#Icon_Logo_Black_8"></use>
                              </svg>
                            </div>
                            <div><p>UDA-2574</p></div>

                          </div>
                          <div class="col-md-12 d-flex flex-row bg-bug">
                              <ul class="nav nav-bug">
                                <li class="nav-item">
                                  <span>
                                    <svg class="icon icon-code">
                                      <use role="graphic/image" href="../../../../assets/images/Icon_Code_8.svg#Icon_Code_8"></use>
                                    </svg>
                                  </span>
                                </li>
                                <li class="date-status">1.1.21 (30)</li>
                                <li class="">
                                  <div class="bug-status blue"></div>
                                </li>
                                <li class="nav-item">
                                  <a class="" href="#">Todo</a>
                                </li>
                              </ul>
                          </div>
                      </div>
                      </div>
                  </div>
            </div>
          </div>
        </div>
    </div>
</section>
