.wrapper{
  height: 100vh !important;
  display: flex;
}
.right-side{
 padding-top: 200px;
 padding-left: 50px;
}

.top{
  height:674.5px;
  padding:50px 0px 0px 50px;
}
.top h3{
  color: rgb(255, 255, 255);
}
.top .fu-logo{
  width: 50px;
  height: 50px;
}
.signin h2{
  color: #363d4a;
}
.bottom{
  height:195px;
  padding:0px 0px 0px 50px;
}
.bottom p{
  color: rgb(235, 235, 235);
}
.bottom h1{
  color: rgb(255, 255, 255)
}
.left-side{
  background-image: url("../../../assets/images/black-iii-desktop-1@2x@3x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.input-group{
  padding-top:5px;
  padding-bottom:5px;
  width: 65%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 0.1rem solid #dadfe3;

}
.btn-lg{
  width:66%;
  background-color: #00a76a;
  padding: 3px 0 3px 0;
}
.btn-lg:hover{
  background-color: #00a76a;
}

.bottom h2{

  color:#fff;
}

.bottom h1{
  color: #fff;
}
.signin{
  padding-left: 60px;
}

.form-body{

  margin-left: 10px;

}
