<div class="container-fluid warpper">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7 left-side">
            <div class="header-left">
              <div class="top">
                <img class="fu-logo" src="../../../../assets/images/logo-white.svg" />
              </div>
              <div class="bottom">
                <h2>Test, Debug and Monitor.</h2>
                <h1><strong>All in Place</strong></h1>
              </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="right-side">
                <div class="form-container center" *ngIf="signinFlag == 2">
                  <form class="signin" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                    <div class="">
                      <h2>Welcom To <strong>Fusion Inspect</strong></h2>
                      <p>Sign in your account</p>

                    </div>
                    <div class="form-body">
                      <div class="row" [ngClass]="">
                        <label for="seed"></label>
                        <input class="input-group" type="text" formControlName="seed" placeholder="Enter your email or username" />
                        <div *ngIf="">
                          <p class="error-notice" *ngIf="">
                            Email is required
                          </p>
                          <p class="error-notice" *ngIf="">
                            Email is invalid
                          </p>
                        </div>
                      </div>

                      <div class="row" [ngClass]="">
                        <input class="input-group" type="password" formControlName="soil" placeholder="Enter your password" />
                        <div *ngIf="">
                          <p class="error-notice" *ngIf="">
                            Password is required
                          </p>
                          <p class="error-notice" *ngIf="">
                            Password must be at least 6 characters
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="btn-clickable">
                        <button type="submit" class="btn btn-success btn-lg clickable" >
                          Sign in
                        </button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
