 <section class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-2 col-3">
                  <div class="left">
                  <h2 class="sidebar-title">General</h2>
                    <ng-container>
                      <ul class="setting-list ">
                        <div class="d-flex flex-row active">
                          <div class=" p-2 application-image">
                            <img src="../../../assets/images/releases_16.svg#release_16"/>
                          </div>
                          <div class="p-2 ">
                            <li class="nav-item active list-group" >
                                Application
                            </li>
                          </div>
                        </div>
                        <div class="d-flex flex-row">
                          <div class=" p-2 application-image">
                            <img src="../../../assets/images/releases_16.svg#release_16"/>
                          </div>
                          <div class="p-2">
                            <li class="list-group " >
                                Application Vitals
                            </li>
                          </div>
                        </div>
                        <div class="d-flex flex-row">
                          <div class=" p-2 application-image">
                            <img src="../../../assets/images/rocket.svg"/>
                          </div>
                          <div class="p-2">
                            <li class="list-group " >
                                Force Update
                            </li>
                          </div>
                        </div>
                        <div class="d-flex flex-row">
                          <div class=" p-2 application-image">
                            <img src="../../../assets/images/network_wired.svg"/>
                          </div>
                          <div class="p-2">
                            <li class="list-group" >
                                Integration
                            </li>
                          </div>
                        </div>
                      </ul>
                    </ng-container>
                </div>
              </div>
              <!-- tab 1 -->
              <div class="col-sm-10 col-9">
                <div class="right" *ngIf="tab==1">
                  <ng-container>
                    <div class="application-layout">
                      <table class="table">
                        <thead>
                          <tr>
                            <td scope="col">DATE</td>
                            <td scope="col">VERSION</td>
                            <td scope="col">DOWNLOADS</td>
                            <td scope="col">LAST ACTIVITY</td>
                            <td scope="col">BUG ACTIVITY</td>
                            <td scope="col">FORCE UPDATE</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>663</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- tab 2 -->
              <div class="col-sm-10 col-9">
                <div class="right" *ngIf="tab==2">
                  <ng-container>
                    <div class="application-layout">
                      <table class="table">
                        <thead>
                          <tr>
                            <td scope="col">DATE</td>
                            <td scope="col">VERSION</td>
                            <td scope="col">APPLICATION HEALTH</td>
                            <td scope="col">RELEASE NOTES</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>Crash Free Sessions: N/A
                              <br>
                              Crash Free Sessions: N/A
                            </td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round">Application Notes</span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- tab 3 -->
              <div class="col-sm-10 col-9">
                <div class="right" *ngIf="tab==3">
                  <ng-container>
                    <div class="application-layout">
                      <table class="table">
                        <thead>
                          <tr>
                            <td scope="col">VERSION</td>
                            <td scope="col">FORCE UPDATE</td>
                            <td scope="col">MODIFIES ON</td>
                            <td scope="col">MESSAGE</td>
                            <td scope="col">UPDATE TYPE</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td>28 Jul 2022</td>
                            <td></td>
                            <td>Mandatory Update</td>

                          </tr>
                          <tr>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td>28 Jul 2022</td>
                            <td></td>
                            <td>Mandatory Update</td>
                          </tr>
                          <tr>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td>28 Jul 2022</td>
                            <td></td>
                            <td>Mandatory Update</td>
                          </tr>
                          <tr>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td>28 Jul 2022</td>
                            <td></td>
                            <td>Mandatory Update</td>
                          </tr>
                          <tr>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td>28 Jul 2022</td>
                            <td></td>
                            <td>Mandatory Update</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- tab 4 -->
              <!-- <div class="col-sm-10 col-9">
                <div class="right" *ngIf="tab==4">
                  <ng-container>
                    <div class="application-layout">
                      <table class="table">
                        <thead>
                          <tr>
                            <td scope="col">DATE</td>
                            <td scope="col">STATUS</td>
                            <td scope="col">PROKECT</td>
                            <td scope="col">GROUP/CHANNEL</td>
                            <td scope="col">OPENED</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>663</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>
                </div> -->
              </div>

              <!-- tab 8 -->
              <div class="col-sm-10 col-9">
                <div class="right" *ngIf="tab==8">
                  <ng-container>
                    <div class="application-layout">
                      <table class="table">
                        <thead>
                          <tr>
                            <td scope="col">INTEGRATION</td>
                            <td scope="col">MODIFIED ON</td>
                            <td scope="col">DETAILS</td>
                            <td scope="col">REMOTE ADDRESS</td>
                            <td scope="col">TOKEN</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>663</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">Jira(Atlassian)</td>
                            <td></td>
                            <td>Project:N/A
                              <br>
                              issue Type: N/A
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">28 Jul 2022</td>
                            <td><a class="clickable" href="">v1.1.22(34)</a></td>
                            <td>2</td>
                            <td>28 Jul 2022</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>
                </div>
              </div>
        </div>
      </div>
</section>


<router-outlet name="modal"></router-outlet>
