.sidebar-title{
  font-size: 1.2rem;
  color: #363d4a;
  padding-left: 1.8000000000000007rem;
  margin-bottom: 1.4rem;
  padding-top: 1.5rem;
}
.table>tbody {

  border: 1px solid rgb(219, 219, 219);
}
.application-layout{
  margin-top: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.625rem;

}

.application-layout td{
  font-size: small;
  padding: 1.2rem 1rem 1.2rem 2.4rem
}
.active{
  color:#00a76a;
}
.list-group
{
  padding-top: 0.3rem;
  width:212.5rem;
}
.setting-list{
  padding-left: 0rem;
}
.setting-list img{
  width: 1.2rem;
  height: 1.2rem;
}
.application-image{
  margin-left: 1.5rem;
}
.application-image.active{
  margin-left: 1.5rem;
  color: #4a363f,
}
.appliction-list{
  margin-left: 0.2rem;
  font-size: small;
}
.col-sm-2{
  height: 100vh;
  border-right: 1px solid #dadfe3;

}

.clickable{
  color:#00a76a;
}
.list-group{
  width:10rem;
}
.appli:active{
  color:#00a76a;
}
.flex-row:hover{
  color: #008856;
  background-color: rgba(0,136,86,.05);
  border-radius: 0 2.4rem 2.4rem 0;
width:15rem;
}

.setting-sidebar .setting-list .setting-list-item.active {
  color: #008856;
  background-color: rgba(0,136,86,.05);
  border-radius: 0 2.4rem 2.4rem 0;
}
.application-layout table thead {
  width: 100vw;
  table-layout: fixed;
  background-color: #f0f0f0;
  z-index: 10000;
}

//switch button

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
  margin: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #9b9b9b;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.4px;
  bottom: 3px;
  background-color: rgb(32, 32, 32);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #00a76a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00a76a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
section.left{

    height: 100vh;
    width: 31.2rem;
    border: 1px solid #dadfe3;
    background-color: #fff;
    padding: 2.4rem 2.4rem 2.4rem 0;
}
.col-sm-2{
  height: 100vh;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  height: 15px;
  width: 30px;
}

.slider.round:before {
  border-radius: 50%;
  height: 8px;
  width:8px;
}


input:checked + .slider:before {
  transform: translateX(17px);
  background-color: #fff;
}
