<section class="container-fluid main" >
  <div class="project-add">
    <ng-container>
      <div class="row mt-4 dashboard-header">
        <div class="col-md-10">
              <h2> My Projects</h2>
              <p>Here's a look at what's been happening</p>
        </div>
        <div class="col-md-2 clickable" [routerLink]="">
          <input class="btn clickable add-project" type="button" value="Add Project">
        </div>
      </div>

      <div class="row mt-3">
          <div class="col-md-10">
                <ul class="list-inline">
                  <li class="list-inline-item list-active link-tab ">
                      <a class="btn active all-project" >All Project</a>
                  </li>
                  <li class="list-inline-item link-tab">
                      <a class="btn ISO-project">Anroid</a>
                  </li>
                  <li class="list-inline-item link-tab">
                    <a class="btn ISO-project">IOS</a>
                  </li>
                </ul>
          </div>
          <div class="col-md-2">
                  <div class="md-form">
                    <input class="form-control" #searchString placeholder="Search Your Projects"
                    id="search-project" name="search-project">
                  </div>
          </div>
      </div>

      <!-- project Cards will be show here -->
      <div class="projects-cards-container projects-scrool">
        <div class="project-card-div">
            <ul class="project-card-filter"></ul>
            <app-project-card></app-project-card>
        </div>
      </div>
  </ng-container>

  </div>
</section>

