.project-add{
  margin: 0 50px 0 50px;
}
.md-form input{
  border-radius: 25px;
  border: 1px solid #cdcdcd;
}

.add-project{
  background-color: #00a76a;
  float:right;
  color: #fff;
}
.add-project:hover{
  background-color: #00a76a;
  float:right;
  color: #fff;
}

.add-project:active{
  background-color: #00a76a;
  float:right;
  color: #fff;
}
.dashboard-header h2{
  font-size: 20px;
}

.dashboard-header p{
  font-size: 14px;
}
ul li  a.all-project {
  background-color: #00a76a;
  border-radius: 25px;
  border:none;
  color: #fff;
}

ul li a.ISO-project {
  background-color: #efefef;
  border-radius: 25px;
  border:none;
  color: rgb(85, 85, 85);

}
.main{
  background-color: #00a76a;
}
ul li  a.ISO-project:hover {
  background-color: #00a76a;
  border-radius: 25px;
  border:none;
  color: rgb(255, 255, 255);

}


#search-project
{
  width:100%;
  padding-left: 30px;
  font-size: 12px;
}
.container-fluid{
  background-color:#f8f8f9;
}



















