<div class="nav navbar navbar-expand-lg bg">
  <div class="header ">
    <div class="logo clickable" routerLink="project-listing">
      <img src="../../../../assets/images/bug-header-logo.svg" />
    </div>
  </div>

  <div >
    <div class="project-select dropdown-btn clickable">
      <button (click)="dropdownMenuOpen($event)" class="clickable apricart-dropdown" type="button" id="dropdownMenuButton" >
        <img class="icon-left dropdown-toggle" src="../../../../assets/images/Icon_Browser_24.svg" />
        <span class="span">Apricart<sup>Sandbox</sup></span>
        <img class="icon-right" src="../../../../assets/images/caret-down.svg" />
      </button>

      <div class="dropdown project-menu "  *ngIf="projectMenuFlag" ngClass="projectMenuFlag: open">
      <div class="dropdown-header--12">
        <a class="icon-left">Projects</a>
        <a class="icon-right" >+ New project</a>
      </div>
      <ul class="android-list ">
        <li class="dropsown-listing" ><img class="android-img" src="../../../assets/images/Icon_Apple_24.svg#Icon_Apple_24" />Apricart<sup>Sandbox</sup></li>
        <li class="dropsown-listing"><img class="android-img" src="../../../assets/images/Icon_Android_24.svg#Icon_Android_24" />Apricart<sup>Sandbox</sup></li>
        <li class="dropsown-listing"><img class="android-img" src="../../../assets/images/Icon_Apple_24.svg#Icon_Apple_24" />Apricart<sup>Sandbox</sup></li>
        <li class="dropsown-listing"><img class="android-img" src="../../../assets/images/Icon_Apple_24.svg#Icon_Apple_24" />Apricart<sup>Sandbox</sup></li>
      </ul>
    </div>
    </div>
  </div>
    <div class="bug-header-tabs-div" >
      <ul class="navbar-nav mr-auto" *ngIf="__router.url !== '/dashboard/list'">
        <li class="nav-item ">
          <a class="nav-link d-flex flex-row nav-application active" routerLinkActive="active" routerLink="application">
            <div class="p-2"> <img src="../../../../assets/images/application-launch-white.svg" class="default-img safety-icon"></div>
            <div class="p-2 app1"><p>Application</p></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-row" routerLinkActive="active" routerLink="bugs-listing">
            <div class="p-2"> <img src="../../../../assets/images/Icon_Bug_24-white.svg" class="default-img safety-icon"></div>
            <div class="p-2"><p>Bugs</p></div>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link d-flex flex-row" routerLinkActive="active" routerLink="crashes-listing">
            <div class="p-2"> <img src="../../../../assets/images/Icon_Alert_24-white.svg" class="default-img safety-icon"></div>
            <div class="p-2"><p>Craches</p></div>
          </a>
        </li>
      </ul>
    </div>
    <div class="dropdown" style="float:right;">
      <button class="dropbtn">LA</button>
      <div class="dropdown-content">
      <h2>LA</h2>
      <p>lab@o3interfaces.com</p>
      <a class="signout clickable" href="#" (click)="signOut()">Sign Out</a>
      </div>
    </div>
  </div>

