.bg-btn{
  width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.8rem;
    background-color: #00a76a;
    text-align: center;
    padding: 0.6rem;
    color: #fff;
}
.bg-btn:hover{
  background-color: #00a76a;
    text-align: center;
    padding: 0.6rem;
    color: #fff;

}
.btn-la {
  background-color: #00a76a;
  color: #fff;
}

.btn-la:hover {
  background-color: #00a76a;
  color: #fff;
}
.bg{
  background-color: #363d4a;
  height: 60px;
  padding: 0 30px 0 30px;
}

.project-select{
  width:20rem !important;
}

.apricart-dropdown{
  height:3.6rem;
  background-color: #2b303b;
  width:14rem;
  margin-left: 10px;
  border: none;
}
.project-select{
  height:60px;
}
.icon-left
{
  width:30px;
  height: 30px;
  margin-right: 15px;
}
.icon-right
{
  width:10px;
  height: 10px;
  margin-left: 10px;
}
img .icon-left p{
  color:#fff !important;
}
.span{
  color:#fff;
  font-size: 0.9rem;
}

.android-list li{
list-style-type: none;
color: #fff;
}
.dropdown.project-menu {
  width: 14rem;
  background-color: #282d36;
 margin-left: 10px;

}

.android-img{
  padding:10px 5px 10px 5px
}
.project-menu{
  margin-left: 20px;
}
.icon-left{
color: rgb(192, 192, 192);
font-size: small;
text-decoration: none;
}
.icon-right{
  color: rgb(192, 192, 192);
  font-size: small;
  text-decoration: none;
  }
.dropdown-header--12{
  margin:0 30px 0 30px;
}
.dropsown-listing{
  font-size: small;
}
.android-list {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
.bug-header-tabs-div{
  width: 79.8125rem;
  padding-top: 0.625rem;
}
.bug-header-tabs-div .nav-link p{
  color: #fff;
}

.bug-header-tabs-div .mr-auto .nav-link:hover{
  border-bottom: 6px solid #00a76a;
  color:#fff;
  border-radius: 0.2rem;
}

.bug-header-tabs-div .nav-link p{
  color: #a0a0a0;
}
.nav-link{
  padding-top:0px;
  padding-bottom: 0px;
  height: 50px;
}
.default-img{
  width:1.25rem;
}


.nav-item{
margin-right:15px;
}
.nav-item:hover{
color: #ffffff;
}
 .active {
color: #fff;
border-bottom: 4px solid #00a76a;
}
.active p{
  color: #fff;
}
//dropdown

.dropbtn {
  background-color: #00a76a;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #00a76a;
  background-color: rgba(0,136,86,.05);
  border-radius: 0 2.4rem 2.4rem 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #00a76a;
}
.dropdown-content h2{
  font-size: smaller;
  padding: 10px 10px 0 10px;
}
.dropdown-content p{
  font-size: smaller;
  padding: 0 10px 0 10px;
}
.signout
{
  font-size:medium;
}
sup{
  color:#cecece;
  margin-left:3px;
}
