<section class="container-fluid">
  <div class="row clickable" id="card_listing" (click)="moveToNextPage(data)">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="card">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/iOS.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text">iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/Android.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text">iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/iOS.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text" >iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/Android.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text">iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <img class="jira-icon card-img-top" *ngIf=""
                src="../../../../assets/images/jira-icon.png">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/Android.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text">iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <img class="jira-icon card-img-top" *ngIf=""
                src="../../../../assets/images/jira-icon.png">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/Android.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text">iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="card">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/iOS.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text">iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/Android.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text">iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/iOS.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text" >iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/Android.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text">iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <img class="jira-icon card-img-top" *ngIf=""
                src="../../../../assets/images/jira-icon.png">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/Android.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text">iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <img class="jira-icon card-img-top" *ngIf=""
                src="../../../../assets/images/jira-icon.png">
            <p class="sand-box">SandBox</p>
            <div class="project-name card-body">
                <img src="../../../../assets/images/Android.svg">
                <h2 class="card-title">Apricart</h2>
                <p class="card-text">iOS — com.assorttech.airoso-app</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
