div.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.card{
  padding:10px;
}
.card{
  height: 15rem;
  margin-top:20px;
}
.sand-box{
  float:right;
}
.card-text{
padding-top:5px;
font-size: 0.7rem;
}
.card-body{
 text-align: center;
}
.sand-box{
  float:left;
  background-color: #f1f1f1;
  width: 4.4vw;
  padding: 1px 0 1px 8px;
  border-radius: 25px;
}

